body {
  height: 100vh;
  font-family: 'Balsamiq Sans', cursive !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #ffe0a1 !important;
}

a,
p,
h1,
h2,
h3,
.MuiInputLabel-formControl,
.MuiInputLabel-marginDense,
.MuiFormLabel-root.Mui-focused,
.MuiInputBase-root {
  color: #67a3a3 !important;
  text-decoration: none;
  font-family: 'Balsamiq Sans', cursive !important;
}

.MuiInputBase-input,
.MuiInput-input,
.MuiButton-label {
  font-family: 'Balsamiq Sans', cursive !important;
}

.MuiListItem-root {
  padding: 0;
  margin: 0;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

.MuiListItemIcon-root {
  color: rgb(0, 0, 0) !important;
  min-width: 40px !important;
  margin-top: -5px;
}

.MuiPaper-elevation6 {
  box-shadow: none !important;
}

.formaHuerma {
  width: 100vw;
  height: 93vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-items: center;
  padding: 25px 0;
}

