.chat {
  width: 400px;
  border: 3px solid green;
}

.myRow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.partnerRow{
  justify-content: flex-start;
}
.myMessage {
  width: 45%;
  background-color: pink;
  color: #46516e;
  padding: 10px;
  margin-right: 5px;
  text-align: center;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}
.partnerMessage {
  width: 45%;
  background-color: transparent;
  color: lightgray;
  border: 1px solid lightgray;
  padding: 10px;
  margin-left: 5px;
  text-align: center;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}
