.chatMessages {
  width: 369px;
  height: 600px;
  border-bottom: 1px solid #d6d6d6;
  overflow-y: scroll;
}

/* display: flex;
align-items: bottom; */


.myRow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  margin-bottom: 10px;
}
.partnerRow{
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 10px;
}

.myRow::after {
  content: "";
  clear: both;
  display: table;
}

.myMessage {
  width: 45%;
  background-color: #d7eef19c;
  color: #46516ec7;
  padding: 10px;
  margin-right: 10px;
  text-align: end;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.partnerMessage {
  width: 45%;
  background-color: powderblue;
  color: #ffffff;
  padding: 10px;
  margin-left: 10px;
  text-align: start;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}
