.headerDiv {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100vw;
  align-items: flex-start;
  margin: 0;
}

.headerLogo {
  width: 100px;
  height: 100px;
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.headerLogoEnter {
  width: 100px;
  height: 100px;
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btnMenu {
  color: #67a3a3;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}

.headerNewLogo {
  width: 200px;
  margin-left: 25px;
  margin-bottom: 20px;
}
.flexBox {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.forImg {
  margin-top: 20px;
  margin-left: 80px;
}

.bell {
  color: orange;
  align-self: center;
  justify-items: center;
  flex-direction: row;
  width: 100%;
  text-align: end;
  justify-self: flex-end;
  justify-content: flex-end;
  padding-right: 5%;
}

.headerLogo2{
  width: 30px;
  height: 30px;
}
