.headerDiv {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100vw;
  align-items: flex-start;
  margin: 0;
}

.headerLogo {
  width: 100px;
  height: 100px;
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.headerLogoEnter {
  width: 100px;
  height: 100px;
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.btnMenu {
  color: #67a3a3;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}

.headerNewLogo {
  width: 240px;
  height: 60px;
  margin-left: 5px;
}
.headerLogo2{
  width: 30px;
  height: 30px;
}
